.background {
  background-color: #f8f8f8;
}

.rsvp {
  padding: 1rem 4rem;
  text-align: center;
}

.rsvp h2 {
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
  margin-bottom: 2rem;
  letter-spacing: 4px;
  color: #b9975b;
  padding: 0 3rem;
}

html[dir="rtl"] .rsvp h2 {
  font-family: "Amiri", serif !important;
}



@media (max-width: 768px) {
  .rsvp {
    padding: 1rem;
  }

  .rsvp h2 {
    font-size: 3rem;
  }

}

@media (max-width: 480px) {
  .rsvp h2 {
    font-size: 2.5rem;
  }
}

