.music-player-button {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 50;
  padding: 0.2rem;
  background-color: transparent;
  border-radius: 9999px;
  color: black;
  transition: color 0.2s;
  border: none;
  cursor: pointer;
}


.cd-svg {
  width: 1.75rem;
  height: 1.75rem;
}

.cd-icon-container.playing {
  animation: spinY 4s linear infinite;
}

@keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
